body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
.bg-image{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(./images/donation9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
}
.help{
    color: rgb(240, 229, 229);
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
}
.paragraph{
    color: aliceblue;
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}
.donate-know{
    width: 100px;
    height: 80px;
    border: 1px solid gray;
    background-color: tomato;
    text-decoration: none;
    color: white;
}
.donate-know{
    text-decoration: none;
    background-color: tomato;
    border: 1px solid gray;
    padding: 10px 40px;
}